.skills-heading h1 {
    font-size: 50px;
}

.skills-heading h4 span {
    color: aqua;
}


.skills .border1 {
    right: 5rem;
}


.skills-data .card-header h4 {
    font-weight: bold !important;
}

.skills-data .card-header h4:nth-child(2) {
    font-family: "canveat", cursive;
    color: aqua !important;
}

.skills-data .card .line {
    width: 100%;
    background: #000;
    position: relative;
}

.skills-data .card .line::after {
    content: "";
    position: absolute;
    top: -.7rem;
    left: 80%;
    width: 1.5rem;
    height: 1.5rem;
    border: .1rem solid white;
    border-radius: 50%;
    background: rgb(42, 46, 46);
}

.skills-data .card .line::before {
    content: "";
    position: absolute;
    top: 0;
    height: .2rem;
    width: 80%;
    background: aqua;
}

.skills .border{
    height: 35rem;
}


@media (max-width:768px) {
    .skills-data {
        padding: 1rem 5rem;
    }



@media (max-width:568px) {
    .skills-data {
        margin-top: 1rem;
        padding: 1rem 2rem;
    }
}

@media (max-width:450px) {
    .skills-data {
        padding: 1rem 0rem;
    }

    .skill-icon .m-4 {
        margin: 0 !important;
        margin-left: 1rem !important;
    }
}