.skills-data .card-header h4 {
    font-weight: bold !important;
}

.main-heading {
    color: var(--text-color);
    font-size: 50px;
}

.card , .card-header{
    color: var(--text-color) !important;
    background: var(--secondary-color)  !important;
}


.skills-data .card-header h4:nth-child(2) {
    font-family: "canveat", cursive;
    color: var(--primary-color) !important;
}

.skills-data .card .line {
    width: 100%;
    background: var(--text-color) !important;
    position: relative;
}

.skills-data .card .line::after {
    content: "";
    position: absolute;
    top: -.7rem;
    left: 80%;
    width: 1.5rem;
    height: 1.5rem;
    border: .1rem solid var(--text-color);
    border-radius: 50%;
    background: var(--secondary-color);
}

.main-heading h4 span {
    color: var(--primary-color);
    font-family: "canveat", cursive;
}


.skills-data .card .line::before {
    content: "";
    position: absolute;
    top: 0;
    height: .2rem;
    width: 80%;
    background: var(--primary-color);
}

.skills .border{
    height: 35rem;
}


@media (max-width:768px) {
    .skills-data {
        padding: 1rem 5rem;
    }

}

@media (max-width:568px) {
    .skills-data {
        margin-top: 1rem;
        padding: 1rem 2rem;
    }
}

@media (max-width:450px) {
    .skills-data {
        padding: 1rem 0rem;
    }

    .skill-icon .m-4 {
        margin: 0 !important;
        margin-left: 1rem !important;
    }

    .card-header h4{
        font-size: 15px ;
    }

    .card-body p{
        font-size: 13px ;
    }
}

@media (max-width:330px) {
    .skill-icon{
        font-size: 10px;
    }
    
    .card-header h4{
        font-size: 14px ;
    }
    
    .card-body p{
        font-size: 12px ;
    }
}

@media (max-width:280px) {

    .card-header h4{
        font-size: 12px ;
    }

}