* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Rrowdies", sans-serif;
}


/* Nvabar Start */

.nav,
.nav-click {
    height: 80px;
    font-size: 1.5rem;
}

.logo h4 span {
    font-family: "canveat", cursive;
}

.nav {
    transition: 1s;
}

.litemode .bg-dark {
    background: #ffffff !important;
    color: #0f0f0f;
    transition: 1s;
}

.line {
    background: aqua;
    height: .2rem;
    width: 3rem;
    margin-bottom: .5rem;
    transition: 1s;
}

.litemode h4 {
    color: black;
    transition: 1s;

}

.litemode .logo .text-info {
    transition: 1.2s;
    color: rgb(252, 53, 4) !important;
}

.nav-items {
    transition: 1s;
    margin-right: 3rem;
    background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.nav-items p {
    cursor: pointer;
    transition: 1s;
}


.nav-items p:hover {
    color: aqua;
}

.litemode .nav-items p:hover {
    color: rgb(252, 53, 4);
}

.darkmode-button {
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.darkmode {
    border-radius: 2rem;
    height: 1.5rem;
    width: 3rem;
    /* background: #000; */
    cursor: pointer;
    transition: 1s;
}

.litemode .darkmode {
    transition: 1s;
    background: #292828;
    height: 1.5rem;
    width: 3rem;
    transition: 1s;
}


.darkmode::after {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    border-radius: 2rem;
    right: .1rem;
    top: .3rem;
    background: white;
}

.litemode .darkmode::after {
    background: rgba(0, 0, 0, 0);
}


.darkmode::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 2rem;
    top: 7px;
    right: .2rem;
    background: #313131;
}

.litemode .darkmode::before {
    background: rgb(255, 255, 255);
    left: .3rem;
    top: 7px;
}


/* 
.darkmode-button::after{
    content: "";
    position: absolute;
    background: #222222;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 2rem;
    transform: translate(-50%,-50%);
} */



/* Navbar End */


@media (max-width:767px) {


    .nav-items {
        position: fixed;
        right: -39rem;
        top: 0px;
        background: #000;
        color: aqua;
        width: 15rem;
        height: 100vh;
        transform: rotate(50deg);
        transition: 1s;
        overflow: hidden;
        align-items: start;

    }

    .nav-items p:nth-child(1) {
        margin-top: 6rem;
    }

    .nav-items p {
        margin-left: 5rem;
    }

    .nav-click .logo{

        margin-left: .7rem;
        margin-left: .7rem;
    }

    .nav-click .nav-items {
        transform: rotate(0deg);
        right: 0rem;
        margin: 0;
    }

    .darkmode-button {
        right: 8rem;
        top: 1.4rem;
    }



    .lines {
        display: flex;
        z-index: 2;
    }

    .line {
        transition: 1s;
    }

    .nav-click .lines :nth-child(1) {
        transform: rotate(-140deg);
    }

    .nav-click .lines :nth-child(2) {
        transform: rotate(140deg);
    }



}


@media (max-width:400px) {
    .nav {
        /* position: absolute !important; */
        left: -2.3rem !important;
    }

    .lines {
        position: absolute !important;
        /* left: -10rem !important; */
        right: .5rem !important;
    }

    .darkmode-button {
        right: 4rem;
        top: 1.4rem;
    }
}