* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Rrowdies", sans-serif;
}


/* Nvabar Start */

.nav,
.nav-click {
    height: 80px;
    font-size: 1.5rem;
}

.logo h4 span {
    font-family: "canveat", cursive;
}


.line {
    background: aqua;
    height: .2rem;
    width: 3rem;
    margin-bottom: .5rem;
}

.nav-items p {
    cursor: pointer;
    transition: 1s;
}


.nav-items p:hover {
    color: aqua;
}

/* Navbar End */


@media (max-width:770px) {


    .nav-items {
        position: fixed;
        right: -39rem;
        top: 0px;
        background: #000;
        color: aqua;
        width: 15rem;
        height: 100vh;
        transform: rotate(50deg);
        transition: 1s;
        overflow: hidden;
        align-items: start;
        
    }
    .nav-items p:nth-child(1){
        margin-top: 6rem;
    }

    .nav-items p {
        margin-left: 5rem;
    }

    .nav-click .nav-items {
        transform: rotate(0deg);
        right: 0rem;
    }



    .lines {
        display: flex;
        z-index: 2;
    }

    .line {
        transition: 1s;
    }

    .nav-click .lines :nth-child(1) {
        transform: rotate(-140deg);
    }

    .nav-click .lines :nth-child(2) {
        transform: rotate(140deg);
    }


}

/* 
git commit -m "Navbar Addedt"
git branch -M main
git push -u origin main */