* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Rrowdies", sans-serif;
}




/* Navbar Start */

.nav,
.nav-click {
    height: 80px;
    font-size: 1.5rem;
    background: var(--secondary-color);
}

.logo h4, p{
    color: var(--text-color);
}

.logo h4 span {
    font-family: "canveat", cursive;
    color: var(--primary-color);
}

.nav {
    transition: 1s;
}


.line {
    background: var(--primary-color);
    height: .2rem;
    width: 3rem;
    margin-bottom: .5rem;
    transition: 1s;
}

.nav-items {
    transition: 1s;
    margin-right: 3rem;
    background: var(--secondary-color) !important;
}

.nav-items p {
    cursor: pointer;
    transition:  2s all;
    -webkit-transition:  2s all;
    -moz-transition:  2s all;
    -ms-transition:  2s all;
    -o-transition:  2s all;
}


.nav-items p:hover {
    color: var(--primary-color);
}

.darkMode-button {
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}



/* Navbar End */


@media (max-width:767px) {


    .nav-items {
        position: fixed;
        right: -39rem;
        top: 0px;
        background: #000;
        color: aqua;
        width: 15rem;
        height: 100vh;
        transform: rotate(50deg);
        transition: 1s;
        overflow: hidden;
        align-items: start;

    }

    .nav-items p:nth-child(1) {
        margin-top: 6rem;
    }

    .nav-items p {
        margin-left: 5rem;
    }

    .nav-click .logo {
        margin-right: .7rem;
        margin-left: 0rem;
    }

    .nav-click .nav-items {
        transform: rotate(0deg);
        right: 0rem;
        margin: 0;
    }

    .darkMode-button {
        right: 8rem;
        top: 1.4rem;
    }



    .lines {
        display: flex;
        z-index: 2;
    }

    .line {
        transition: 1s;
    }

    .nav-click .lines :nth-child(1) {
        transform: rotate(-140deg);
    }

    .nav-click .lines :nth-child(2) {
        transform: rotate(140deg);
    }



}


@media (max-width:400px) {
    .nav {
        /* position: absolute !important; */
        left: -2.3rem !important;
    }

    .lines {
        position: absolute !important;
        /* left: -10rem !important; */
        right: .5rem !important;
    }

    .darkMode-button {
        right: 4rem;
        top: 1.4rem;
    }
}