
:root{
--primary-color:aqua;
--secondary-color:#212529;
--text-color:white;
}

.light-theme{
    --primary-color:red;
    --secondary-color:#ffffff;
    --text-color:black;
}

Button {
    border: .1rem solid white !important;
    color: var(--primary-color) !important;
}


.darkMode {
    border-radius: 2rem;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    transition: 1s;
}

.lightMode .darkMode {
    transition: 1s;
    background: #292828;
    height: 1.5rem;
    width: 3rem;
    transition: 1s;
}


.darkMode::after {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    border-radius: 2rem;
    right: .1rem;
    top: .3rem;
    background: white;
}

.lightMode .darkMode::after {
    background: rgba(0, 0, 0, 0);
}


.darkMode::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 2rem;
    top: 7px;
    right: .2rem;
    background: #313131;
}

.lightMode .darkMode::before {
    background:rgb(255, 255, 255);
    left: .3rem;
    top: 7px;
}

