
.cards {
    padding: 0rem 5rem;
}

.card-header p {
    border-color: var(--text-color) !important;
}

.card-header .text-info{
    color: green !important;
}

.card {
    background: #212121;
    color: aliceblue;
}


.card-body a {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;

}

.lag {
    text-align: center;
    font-size: 14px;
    /* margin-bottom: -10px; */
}

.lag p {
    max-width: 5rem;
    min-width: 3rem;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5px;
    border-color: var(--primary-color) !important;
}


@media (max-width:997px) {
    .cards {
        padding: 0rem 2rem;
    }
}

@media (max-width:897px) {
    .cards {
        padding: 0rem 15px;
    }
}



@media (max-width:767px) {
    .cards {
        margin-left: 0px !important;
        padding: 1rem;
    }
}

@media (max-width:575px) {
    
    .cards {
        padding: 5rem;
    }
}

@media (max-width:470px) {
    .cards {
        padding: 3rem;
    }
}

@media (max-width:400px) {
    .cards {
        padding: 1rem;
    }
}

