.lines1{
    height: 29rem;
    width: .2rem;
    background: #bbb;
    position: relative;
}

.lines1::after,.lines1::before {
    content: "";
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #bbb;
    border-radius: 50%;
    background: #2e3541;
    position: absolute;
}

.lines1::before{
    left: -.9rem;
    top:-1rem;
}

.lines1::after{
    left: -.9rem;
    bottom:-1rem;
}
